@tailwind base;
@tailwind components;

@font-face {
  font-family: "FUTURA_BOOK";
  src: url("./fonts/FuturaCyrillicBook.ttf");
}

@font-face {
  font-family: "FUTURA_LIGHT";
  src: url("./fonts/FuturaCyrillicBook.ttf");
}

@font-face {
  font-family: "FUTURA_BOLD";
  src: url("./fonts/FuturaCyrillicDemi.ttf");
}

.boxLayout {
  @apply max-w-md mx-auto;
}

@screen sm {
  .boxLayout {
    @apply max-w-xl;
  }
}

@screen lg {
  .boxLayout {
    @apply max-w-full;
  }
}

@tailwind utilities;
